includes:
    - %currentWorkingDirectory%/vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
       - %currentWorkingDirectory%

    level: 8

    excludePaths:
        - %currentWorkingDirectory%/tests/
        - %currentWorkingDirectory%/vendor/

    checkMissingIterableValueType: true
