parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: config/open-api.php

		-
			message: '#^Abstract class Intermax\\LaravelOpenApi\\Generator\\Attributes\\Attribute cannot be an Attribute class\.$#'
			identifier: attribute.abstract
			count: 1
			path: src/Generator/Attributes/Attribute.php

		-
			message: '#^Cannot call method getName\(\) on ReflectionType\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Function factory not found\.$#'
			identifier: function.notFound
			count: 2
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ComponentsCreator\:\:determineProperty\(\) has parameter \$dates with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ComponentsCreator\:\:determineProperty\(\) has parameter \$item with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ComponentsCreator\:\:determineProperty\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ComponentsCreator\:\:loadAllRelations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ComponentsCreator\:\:loadAllRelations\(\) has parameter \$entity with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Property Intermax\\LaravelOpenApi\\Generator\\ComponentsCreator\:\:\$schemas type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Variable \$entity in PHPDoc tag @var does not exist\.$#'
			identifier: varTag.variableNotFound
			count: 1
			path: src/Generator/ComponentsCreator.php

		-
			message: '#^Deprecated in PHP 8\.3\: Required parameter \$items follows optional parameter \$example\.$#'
			identifier: parameter.requiredAfterOptional
			count: 1
			path: src/Generator/Mapping/ArrayType.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\Mapping\\ObjectType\:\:__construct\(\) has parameter \$properties with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generator/Mapping/ObjectType.php

		-
			message: '#^Class Intermax\\LaravelOpenApi\\Generator\\Mapping\\Property implements generic interface Illuminate\\Contracts\\Support\\Arrayable but does not specify its types\: TKey, TValue$#'
			identifier: missingType.generics
			count: 1
			path: src/Generator/Mapping/Property.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\Mapping\\Property\:\:__construct\(\) has parameter \$properties with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generator/Mapping/Property.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\Mapping\\Property\:\:__toString\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Generator/Mapping/Property.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Generator/Mapping/Property.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\Mapping\\Schema\:\:__construct\(\) has parameter \$properties with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generator/Mapping/Schema.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\OperationCreator\:\:create\(\) has parameter \$responses with no value type specified in iterable type cebe\\openapi\\spec\\Responses\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Generator/OperationCreator.php

		-
			message: '#^PHPDoc tag @param for parameter \$responses with type \(cebe\\openapi\\spec\\Responses&iterable\<cebe\\openapi\\spec\\Response\>\)\|null is not subtype of native type cebe\\openapi\\spec\\Responses\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/Generator/OperationCreator.php

		-
			message: '#^Call to function assert\(\) with true will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Generator/ResourceAnalyser.php

		-
			message: '#^Instanceof between Intermax\\LaravelOpenApi\\Generator\\Attributes\\MapsFields and Intermax\\LaravelOpenApi\\Generator\\Attributes\\MapsFields will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Generator/ResourceAnalyser.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ResourceFactory\:\:createFromClassName\(\) should return Illuminate\\Http\\Resources\\Json\\JsonResource\|null but returns object\.$#'
			identifier: return.type
			count: 1
			path: src/Generator/ResourceFactory.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ResourceFactory\:\:discoverFromAttribute\(\) has parameter \$reflectionClass with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Generator/ResourceFactory.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\ResourceFactory\:\:discoverFromDocBlockProperty\(\) has parameter \$reflectionClass with generic class ReflectionClass but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: src/Generator/ResourceFactory.php

		-
			message: '#^Parameter \#1 \$docblock of method phpDocumentor\\Reflection\\DocBlockFactory\:\:create\(\) expects object\|string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Generator/ResourceFactory.php

		-
			message: '#^Argument of an invalid type array\<mixed\>\|object supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: src/Generator/ResponsesCreator.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$resourceName$#'
			identifier: parameter.notFound
			count: 1
			path: src/Generator/ResponsesCreator.php

		-
			message: '#^Parameter \#1 \$className of method Intermax\\LaravelOpenApi\\Generator\\ResourceAnalyser\:\:retrieveMappingFromResource\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Generator/ResponsesCreator.php

		-
			message: '#^Parameter \#1 \$className of method Intermax\\LaravelOpenApi\\Generator\\ResponsesCreator\:\:discoverResponse\(\) expects class\-string, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Generator/ResponsesCreator.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\RouteAnalyser\:\:determineRequestClass\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Generator/RouteAnalyser.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\RouteAnalyser\:\:determineResourceClass\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Generator/RouteAnalyser.php

		-
			message: '#^Method Intermax\\LaravelOpenApi\\Generator\\RouteAnalyser\:\:getReflectionMethod\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: src/Generator/RouteAnalyser.php

		-
			message: '#^Parameter \#1 \$objectOrClass of class ReflectionClass constructor expects class\-string\<T of object\>\|T of object, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Generator/RouteAnalyser.php
